$light: hsl(0, 0%, 100%);
$highlight-d: hsl(0, 0%, 90%);

$dark: hsl(0, 0%, 15%);
$dark-d: hsl(0, 0%, 5%);

$highlight: hsl(24, 74%, 54%);
$highlight-d: hsl(24, 74%, 44%);

$yellow: hsl(39, 100%, 66%);

$lowOpacity: hsl(0, 0%, 73%);

$break-sm: 520px;
