.hero {
  padding: 5rem 0 6rem;

  &__wrapper {
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    @include mediaQuery {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }

  &__content {
    max-width: 49rem;

    .est {
      font-size: 1.2rem;
    }
    h1 {
      font-size: clamp(3rem, 5vw, 6.3rem);
      line-height: 1;
      text-transform: uppercase;
      font-weight: 400;
      margin: 3rem 0;
      span {
        font-weight: bold;
      }
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 37rem;
      object-fit: cover;
      position: relative;
      z-index: 2;
      display: block;
      box-shadow: -0.8rem 0.6rem 1.6rem rgba(0, 0, 0, 0.3);
    }
    transform: rotate(1deg);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 37rem;
      background-color: $yellow;
      z-index: 1;
      transform: rotate(-5deg);
    }
  }
  i {
    transform: translateY(3rem) rotate(45deg);
  }
}

.services {
  &__wrapper {
    padding: 5rem 0;
    border-top: 1px solid rgba($dark, 0.1);
    border-bottom: 1px solid rgba($dark, 0.1);
    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  &__list {
    line-height: 1.4;
    li {
      display: inline-block;
      margin-right: 5.5rem;
      @include mediaQuery {
        margin-bottom: 1rem;
      }

      a {
        font-size: clamp(2.5rem, 5vw, 6rem);
        color: $lowOpacity;
        position: relative;
        @include transition;
        &:hover {
          color: $highlight;
        }

        &::after {
          content: "";
          position: absolute;
          height: 70%;
          width: 1px;
          transform: rotate(20deg);
          background-color: $lowOpacity;
          bottom: 0.5rem;
          right: -2rem;
        }

        &:hover::after {
          color: $lowOpacity;
        }
        sup {
          font-size: 2rem;
          display: inline-block;
          transform: translateY(-1rem);
          @include mediaQuery {
            font-size: 1.2rem;
          }
        }
      }
    }

    li:nth-of-type(3) a::after,
    li:last-child a::after {
      display: none;
    }
    li a::after {
      @include mediaQuery {
        display: none;
      }
    }
  }
}

.project {
  padding: 6rem 0;

  &__header {
    justify-content: space-between;
    align-items: center;
    @include mediaQuery {
      align-items: flex-start;
      flex-direction: column;
    }
    ul {
      @include mediaQuery {
        width: 90vw;
        overflow-x: scroll;
        margin-top: 3rem;
        padding: 2rem 0;
        &::-webkit-scrollbar {
          height: 0.5rem;
          background-color: lighten($dark, 60);
        }
        &::-webkit-scrollbar-thumb {
          background: lighten($dark, 30);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: lighten($dark, 30);
        }
      }
      li {
        margin: 0 1.5rem;
        a {
          font-weight: bold;
          font-size: 1.2rem;
          @include transition;
          &:hover {
            color: $highlight;
          }

          @include mediaQuery {
            white-space: nowrap;
          }
        }
      }
    }
  }

  &__list {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  &__card {
    margin-bottom: 7rem;
    @include mediaQuery {
      width: 100%;
    }
    img {
      width: 53rem;
      height: 55rem;
      object-fit: cover;
      display: block;
      @include mediaQuery {
        width: 100%;
        height: 35rem;
      }
    }

    ul {
      margin-top: 3rem;
      li {
        margin-right: 1rem;
        a {
          color: $lowOpacity;
          font-size: 1.2rem;
          &:hover {
            color: $highlight;
          }
        }
      }
    }

    h2 a {
      @include transition;
      &:hover {
        color: $highlight;
      }
    }
  }

  &__card.card--long {
    img {
      height: 70rem;
      @include mediaQuery {
        width: 100%;
        height: 35rem;
      }
    }
  }
}

.client {
  &__wrapper {
    padding: 6rem 0;
    border-top: 1px solid rgba($dark, 0.1);
    border-bottom: 1px solid rgba($dark, 0.1);
  }
  &__list {
    flex-wrap: wrap;

    gap: 2rem;
    @include mediaQuery {
      justify-content: space-around;
    }
  }
  &__listitem {
    margin: 2rem 0;
    img {
      width: 20rem;
      height: 10rem;
      object-fit: cover;
      filter: saturate(0%);
      opacity: 0.5;
      transition: 0.5s ease;
      @include mediaQuery {
        width: 10rem;
      }
    }
  }

  &__listitem:hover img {
    filter: saturate(100%);
    opacity: 1;
  }
}

.team {
  &__wrapper {
    padding: 6rem 0;
    border-bottom: 1px solid rgba($dark, 0.1);
  }
  &__list {
    margin-top: 2rem;
    margin-bottom: 6rem;
    @include mediaQuery {
      flex-direction: column;
      align-items: center;
    }
  }
  &__listitem {
    width: 20rem;
    height: 20rem;
    margin-right: 9rem;
    @include mediaQuery {
      margin-right: 0rem;
      margin-bottom: 9rem;
    }
    &:last-child {
      @include mediaQuery {
        margin-bottom: 0;
      }
    }
    img {
      border: 1px solid $dark;
      display: block;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 1.2rem;
      color: $lowOpacity;
    }

    a {
      display: block;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  &__listitem.team--link {
    padding: 2rem;
    border: 1px solid $dark;
    flex-direction: column;
    justify-content: center;
    @include transition;
    a {
      @include transition;
    }

    &:hover {
      color: $light;
      background-color: $dark;
    }

    &:hover a {
      color: $light;
    }
  }
}

.chat {
  padding: 10rem 0;
  &__wrapper {
    align-items: center;
    a {
      @include transition;
      &:hover {
        color: $highlight;
      }
    }
    h2 {
      font-size: clamp(3rem, 5vw, 6rem);
      text-transform: uppercase;
      margin-right: 5rem;
    }

    i {
      font-size: 7rem;
    }
  }
}
